# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/rasfled
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.4/CMakeCCompiler.cmake
build/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.4/CMakeSystem.cmake
build/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/rasfled.dir/build.make
build/CMakeFiles/rasfled.dir/cmake_clean.cmake
build/CMakeFiles/rasfled.dir/CXX.includecache
build/CMakeFiles/rasfled.dir/depend.internal
build/CMakeFiles/rasfled.dir/depend.make
build/CMakeFiles/rasfled.dir/DependInfo.cmake
build/CMakeFiles/rasfled.dir/flags.make
build/CMakeFiles/rasfled.dir/link.txt
build/CMakeFiles/rasfled.dir/progress.make
build/cmake_install.cmake
build/CMakeCache.txt
build/imgui.ini
.vscode/c_cpp_properties.json
source/rpi_ws281x-master/cmake_install.cmake
source/rpi_ws281x-master/CMakeCache.txt
.vscode/settings.json
build/Makefile

# Added
build/.cmake/api/v1/reply/index-2025-04-05T03-16-31-0283.json
*.dir
*.cmake
CMakeFiles/
notes.txt
